body {
  background-color: #272C35;
}
h1 {
  color: #CF649A;
  font-family: "Gochi Hand";
}
h2 {
  color: #CF649A;
  font-family: "Gochi Hand";
}
p {
  color: #ffffff;
  font-family: "Century Gothic", sans-serif;
}
a {
  color: #997F99;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
}
a:hover {
  color: #CF649A;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
}
li {
  color: #ffffff;
  font-family: "Century Gothic", sans-serif;
}
.sass {
  color: #CF649A;
  font-family: "Gochi Hand";
  font-size: 25px;
}
